[Desktop Entry]
Name=Fancontrol-GUI-QML-Package
Comment=Control PWM-fans
Icon=org.kde.fancontrol.gui
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-PluginInfo-Author=Malte Veerman
X-KDE-PluginInfo-Email=malte.veerman@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.fancontrol.gui
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Application.qml
