[Desktop Entry]
Type=Application
Version=1.0
Name=Fancontrol-GUI
Comment=GUI for the fancontrol script
Exec=fancontrol_gui
Icon=org.kde.fancontrol.gui
Terminal=false
Categories=System;Settings;
Keywords=pwmconfig;
